{% extends 'base.html.twig' %}

{% block header_title %}BulbLog{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bulb Group 1</div>
                <div class="panel-body">
                    Name: {{ group1.Name }}<br />
                    Hue: {{ group1.Hue }}<br />
                    Saturation: {{ group1.Saturation }}<br />
                    Brightness: {{ group1.Brightness }}<br />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bulb Group 2</div>
                <div class="panel-body">
                    Name: {{ group2.Name }}<br />
                    Hue: {{ group2.Hue }}<br />
                    Saturation: {{ group2.Saturation }}<br />
                    Brightness: {{ group2.Brightness }}<br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>All logs</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>GroupID</th>
                    <th>Timestamp</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.groupId }}</td>
                        <td>{{ log.timestamp|date('d.m.Y - H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Last {{ lastXDays|length }} days</h2>
            {% for log in lastXDays %}
                <div class="row">
                    <div class="col-md-2">{{ log.date|date('d.m.Y') }}</div>
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ log.count }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ log.count }}%;">
                                <span class="sr-only">{{ log.count }}% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>




{% endblock %}